<div class="add-reason-dialog">
    <div class="ms-Dialog">
        <div class="close-icon" (click)="cancelReason()"></div>
        <div class="ms-Dialog-title">Add New Reason</div>
        <div class="ms-Dialog-content">
            <p class="ms-Dialog-subText issue">issue:</p>
            <p class="ms-Dialog-subText">{{currentIssue.name}}</p>
            <div class="ms-TextField ms-TextField--multiline input-container">
                <textarea class="ms-TextField-field" [(ngModel)]="toAddReason.name" ></textarea>
            </div>
        </div>
        <div class="ms-Dialog-actions button-container">
            <button class="ms-Button ms-Dialog-action ms-Button--primary" (click)="saveReason()">
                <span class="ms-Button-label">Save</span>
            </button>
        </div>
    </div>
    <label class="docs-DialogExample-label"></label>
</div>