div.invalid-input-dialog{
   
}
div.invalid-input-dialog .ms-Dialog{
    padding:0;
    background-color: #fff;
    width: 275px;
    height: 354px;
    border-radius: 5px;
    background-image:url('/images/icons-8-save-64-px.png');
    background-repeat:no-repeat;
    background-size:55px 55px;
    background-position:111px 50px;
    padding-top: 149px;
    padding-left:32px;
    padding-right:33px;
}
div.invalid-input-dialog .ms-Dialog .ms-Dialog-title{
    background-color: #0090BA;
    color: #fff;
    margin-bottom: 0;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
div.invalid-input-dialog .ms-Dialog-content{
    padding: 0;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #000000;
}
div.invalid-input-dialog .ms-Dialog-subText{
    text-align:center;
    font-size: 18px;
    font-weight: 600;
}
div.invalid-input-dialog .ms-Dialog .input-container{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom:2px;
}
div.invalid-input-dialog .ms-Dialog .button-container{
    text-align: center;
    margin-top: 28px;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 52px;
}
div.invalid-input-dialog .ms-Dialog .button-container .ms-Button{
    display:block;
    border-radius: 5px;
    background-color: #018fbf;
    width: 108px;
    height: 34px;
}
div.invalid-input-dialog .ms-Dialog .button-container .ms-Button.cancel{
    background-color:transparent;
    border: solid 1px #b7b7b7;
    margin-top:10px;
}
div.invalid-input-dialog .ms-Dialog .button-container .ms-Button span {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    font-family: OpenSans;
}
div.invalid-input-dialog .ms-Dialog .button-container .ms-Button.cancel span {
    color: #4d4d4d;
}
