<header [displayTitle]="'Issue Metrics'"></header>
<div class="container-left" [hidden]="false">
    <issue-list [allowClick]="allowIssueClick" (afterCheckAllowClick)="checkAllowClick($event)"></issue-list>
</div>
<div class="container-right" [hidden]="!isMetricReasonContainerVisible">
    <div class="ms-Spinner" [hidden]="requestCompleted">
         <div class="ms-Overlay is-visible"></div>
    </div>
    <div [hidden]="!requestCompleted">
        <div class="sub-title padding-left-table">
            <div class="edit issue" (click)="editIssueName(true)">
                <span class="icon edit"></span>
                <span class="title edit">edit</span>
            </div>
            <label class="ms-Label" [hidden]="currentIssue.isNameEditable">{{currentIssue.name}}</label>
            <label class="ms-Label" [hidden]="!currentIssue.isNameEditable"><input class="edit" name="issue-name" [(ngModel)]="currentIssue.name" /></label>
        </div>
        <week-selector (selectWeek)="weekChange($event)" [allowClick]="allowWeekClick" (afterCheckAllowClick)="checkAllowWeekClick($event)"></week-selector>
        <div class="metric-section">
            <ul class="header">
                <li class="edit"></li>
                <li class="main">Metric</li>
                <li class="target-goal">Target Goal</li>
                <li class="date">Start Date</li>
                <li class="week-day" *ngFor="let weekDay of currentWeekDays">{{weekDay | date: 'MM/dd' }}</li>
                <li class="toggle">Active</li>
            </ul>
            <ul class="body">
                <li class="edit" (click)="editIssueMetric(true)">
                    <span class="icon"></span>
                    <span class="title">edit</span>
                </li>
                <li class="edit" (click)="editIssueMetric(false)" *ngIf="false">
                    <span class="icon save"></span>
                    <span class="title save">save</span>
                </li>
                <li class="main">
                    <span class="read-mode" [hidden]="currentIssue.isMetricEditable">{{currentIssue.metric}}</span>
                    <span class="edit-mode" [hidden]="!currentIssue.isMetricEditable"><input name="issue-metric" [(ngModel)]="currentIssue.metric" /></span>
                </li>
                <li class="target-goal">{{currentIssue.targetGoal}}</li>
                <li class="date">{{currentIssue.startDate | date: 'shortDate' }}</li>
                <week-input [currentWeekDays]="currentWeekDays" [rowIndex]="0" [weekInputViewModel]="issueWeekInputviewModel"></week-input>
                <li class="toggle">
                    <div class="ms-Toggle">
                        <input type="checkbox" id="toggle-metric" class="ms-Toggle-input" />
                        <label for="toggle-metric" (click)="toggleMetric()" [ngClass]="currentIssue.issueState? 'is-selected' : ''" class="ms-Toggle-field" tabindex="0">
                            <span class="ms-Label ms-Label--off">Off</span>
                            <span class="ms-Label ms-Label--on">On</span>
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="reason-section">

            <div class="content">
                <ul class="header">
                    <li class="edit"></li>
                    <li class="main">
                        <div class="filter">
                            <div class="ms-Dropdown reason-filter" tabindex="1">
                                <h4>Reason</h4>
                                <div class="radio-active">
                                    <input type="radio" name="active-reason" [value]="1" [(ngModel)]="selectedReasonState.value" (click)="filterReason(1)" /><label class="ms-Label">open</label>
                                </div>
                                <div class="radio-closed">
                                    <input type="radio" name="closed-reason" [value]="0" [(ngModel)]="selectedReasonState.value" (click)="filterReason(0)" /><label class="ms-Label">closed</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="date">Start Date</li>
                    <li class="week-day" *ngFor="let weekDay of currentWeekDays">{{weekDay | date: 'MM/dd' }}</li>
                    <li class="toggle">Active</li>
                </ul>
                <ul class="body" *ngFor="let reason of issueReasons;let j = index">
                    <li class="edit" (click)="editReason(reason,true)">
                        <span class="icon"></span>
                        <span class="title">edit</span>
                    </li>
                    <li class="edit" (click)="editReason(reason,false)" *ngIf="false">
                        <span class="icon save"></span>
                        <span class="title save">save</span>
                    </li>
                    <li class="main">
                        <span class="read-mode" [hidden]="reason.isEditable">{{reason.name}}</span>
                        <span class="edit-mode" [hidden]="!reason.isEditable"><input name="reason-{{reason.id}}" [(ngModel)]="reason.name" /></span>
                    </li>
                    <li class="date">{{reason.startDate | date: 'shortDate' }}</li>
                    <week-input [currentWeekDays]="currentWeekDays" [rowIndex]="i" [weekInputViewModel]="reasonWeekInputViewModelArray[j]"></week-input>
                    <li class="toggle">
                        <div class="ms-Toggle">
                            <input type="checkbox" id="toggle-reason-{{reason.id}}" class="ms-Toggle-input" />
                            <label for="toggle-reason-{{reason.id}}"  (click)="toggleReason()" class="ms-Toggle-field" tabindex="{{reason.id}}" [ngClass]="reason.reasonState? 'is-selected' : ''">
                                <span class="ms-Label ms-Label--off">Off</span>
                                <span class="ms-Label ms-Label--on">On</span>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <button class="ms-Button ms-Button--hero add-reason-btn" [hidden]="selectedReasonState?.value === 0" (click)="createReason()">
                <span class="ms-Button-icon"></span>
                <span class="ms-Button-label">Add New Reason</span>
            </button>
        </div>
        <div class="submit">
            <button class="ms-Button ms-Button--primary" (click)="clickSave()">
                <span class="ms-Button-label">Save</span>
            </button>
        </div>
    </div>
    <add-reason (afterAddedReason)="reasonAdded($event)" [currentIssue]="currentIssue" [toAddReason]="toAddReason"></add-reason>

    <input-popup (afterClickOkay)="afterClickInvalid($event)" [popUpTip]="'One or more of your inputs is not numerical, please reenter and try again.'" [isConfirmInput]="false"></input-popup>

    <input-popup (afterConfirmOrCancel)="afterClickConfirmOrCancel($event)" [popUpTip]="'Are you sure you want to save your changes?'" [isConfirmInput]="true" [popupId]="'default'"></input-popup>

    <input-popup (afterConfirmOrCancel)="afterClickConfirmOrCancelFromIssueList($event)" [popUpTip]="'Would you like to save your changes?'" [isConfirmInput]="true" [popupId]="'issueList'"></input-popup>

    <input-popup (afterConfirmOrCancel)="afterClickConfirmOrCancelFromWeekSelector($event)" [popUpTip]="'Would you like to save your changes?'" [isConfirmInput]="true" [popupId]="'weekSelector'"></input-popup>
</div> 