<ul [hidden]="!(weekInputViewModel.isMetricValue)">
    <li *ngFor="let weekDay of currentWeekDays;let i = index" [ngClass]="{'odd': rowIndex%2!=0}">
        <div class="ms-TextField times-field">
            <input class="ms-TextField-field" type="text" placeholder=""  [(ngModel)]="weekInputViewModel?.metricValueArray[i].metricValues" >
        </div>
    </li>
</ul>
<ul [hidden]="weekInputViewModel.isMetricValue">
    <li *ngFor="let weekDay of currentWeekDays;let i = index" [ngClass]="{'odd': rowIndex%2!=0}">
        <div class="ms-TextField times-field">
            <input class="ms-TextField-field" type="text" placeholder="" [(ngModel)]="weekInputViewModel?.reasonValueArray[i].reasonMetricValues">
        </div>
    </li>
</ul>