<header (filterIssueState)="afterFilterIssue($event)"></header>
<div class="issue-list-section">
   <div class="issue-header">
       <ul class="ul-issue">
           <li>
               <div class="issue-title">
                   <label class="gray-header">issue</label>
               </div>
           </li>
           <li class="gray-header">status</li>
           <li class="gray-header">pillar</li>
           <li class="gray-header">active metrics</li>
           <li class="gray-header">owner</li>
       </ul>
   </div>
   <div class="issue-section border-box" *ngFor="let item of issueArray">
       <div class="issue-info" [ngClass]="{'expanded': item.Expanded}">
           <ul class="ul-issue">
               <li>{{item.Issue.name}}</li>
               <li>{{item.Issue.issueState}}</li>
               <li>{{item.Issue.category}}</li>
               <li>3</li>
               <li>Damian Gibbs</li>
           </ul>
       </div>
   </div>
</div>