body {
   padding-top: 0px;
   padding-bottom: 20px;
   color: #000 !important;
   font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    margin:0px auto;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.ms-Overlay{
    background-color: rgba(0,0,0,0.6);
}

.huddle-container{max-width:1024px;margin:0px auto;background-color:#F9F9F9;padding:20px 21px;}
.huddle-container input{border-radius:5px;border:1px solid #8F8F8F;height:25px;}

.huddle-container .border-box{border-radius:3px;border:1px solid #BABABA; }
.huddle-container .font-bold{font-weight:600;}
.huddle-container .gray-header{font-size:12px;color:#7C7C7C;text-transform:uppercase;font-weight:600;}
.function-section .border-box{border-radius:5px;border:1px solid #BABABA; }


.issue-list-section{}
.issue-list-section ul{list-style:none;}
.issue-list-section ul li{display:inline-block;}
.issue-list-section ul.ul-issue li:nth-child(1){width:29%;}
.issue-list-section ul.ul-issue li:nth-child(2){width:8%;}
.issue-list-section ul.ul-issue li:nth-child(3){width:11%;}
.issue-list-section ul.ul-issue li:nth-child(4){width:12%;}
.issue-list-section ul.ul-issue li:nth-child(5){width:14%;}
.issue-list-section ul.ul-issue li:nth-child(6){width:22%;}
.issue-list-section .issue-header ul li{}
.issue-list-section .issue-section .issue-info ul li{font-size:14px;}