<div class="metric-list-section"  [ngClass]="{'hidden': ifHidden}">
     <div class="metric-header">
       <ul class="ul-metric">
           <li class="icon-click hidden"></li>
           <li>
               <div class="metric-title">
                   <label class="gray-header">metric(s)</label>
                   <a class="action" (click)="addMetricClick()">add metric</a>
               </div>
           </li>
           <li class="gray-header">start date</li>
           <li class="gray-header">goal</li>
           <li class="gray-header"></li>
           <li class="gray-header">active</li>
       </ul>
   </div>
     <div class="metric-section border-box icon-action" *ngFor="let item of metricArray" [ngClass]="{'expanded': item.expanded,'collapsed':!item.expanded}">
         <div class="metric-info">
             <ul class="ul-metric">
                 <li class="icon-click" (click)="expandMetricClick(item)"></li>
                 <li>{{item.metric.name}}</li>
                 <li>{{item.metric.startDate | date: 'shortDate' }}</li>
                 <li>{{item.metric.targetGoal}}</li>
                 <li></li>
                 <li>
                     <div class="btns metric-btn">
                         <ui-switch (change)="onSwitch(item)" [checked]="item.metric.metricState==1?true:false" size="small"></ui-switch>
                         <a class="action">edit</a>
                     </div>
                 </li>
             </ul>
         </div>
         <reason-list #reasonLists [currentMetric]="item.metric"></reason-list>
     </div>
</div>