.metric-list-section{padding-left: 37px;padding-right: 9px;}
.metric-list-section.hidden{display:none;}

.metric-list-section .metric-section {margin-bottom:5px;border-color:#00539d;background-color: #f9f9f9;}
.metric-list-section .metric-section.expanded{margin-bottom:10px;}
.metric-list-section ul{list-style:none;}
.metric-list-section ul.ul-metric{margin-bottom:0;position:relative;}
.metric-list-section ul li{display:inline-block;}
.metric-list-section ul li.icon-click{width: 17px;position: absolute;height: 17px;left: 10px;top: 16px;cursor:pointer;}
.metric-list-section ul.ul-metric li:nth-child(2){width:29%;}
.metric-list-section ul.ul-metric li:nth-child(3){width:8%;}
.metric-list-section ul.ul-metric li:nth-child(4){width:11%;}
.metric-list-section ul.ul-metric li:nth-child(5){width:12%;}
.metric-list-section ul.ul-metric li:nth-child(6){width:14%;}
.metric-list-section ul.ul-metric li:nth-child(6){width: 37%;text-align: right;}
.metric-list-section ul.ul-metric li:nth-child(6).gray-header{padding-right:45px;}

.metric-list-section .metric-info ul.ul-metric{min-height:50px;padding-top:8px;}
.metric-list-section .metric-info ul.ul-metric li a.action{background-image:url(/images/icons-8-edit-32-px@3x.png);}