
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consented</title>
</head>
<body>
    <div>Admin consented successfully.</div>
</body>
</html>
